
.Home{
    text-align: center;
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 5rem;
    background-image: url("./images/slika1.png");
    height: 110vh;

   
   
}

.MolimTeRadi{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }

 .photo{
    width: 10rem;
    margin-top: 7rem;
 }

 
 

.Apod{

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: conic-gradient(from 90deg at 50% 0%, #111, 50%, #222, #111);
  color: rgb(250, 229, 37);
}



p{
    margin: 0 20rem;
    font-size: small;
}

a{
    text-decoration: none;
    color: rgb(250, 229, 37);
   
    
    
}

.home{
    padding-right: 95rem;
}

a:hover{
    color:red;
}

img{
  width: 30%

} 

